In [6]:
# from google.colab import drive
# drive.mount('/content/drive')

In [7]:
path = r'/content/drive/MyDrive/Colab Notebooks/alzheimer.csv'

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.ensemble import RandomForestClassifier

In [8]:
data = pd.read_csv(path)

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/Colab Notebooks/alzheimer.csv'

In [ ]:
data

In [6]:
data.shape

(373, 10)

In [7]:
data.describe()

,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
count,373.000000,373.000000,354.000000,371.000000,373.000000,373.000000,373.000000,373.000000
mean,77.013405,14.597855,2.460452,27.342318,0.290885,1488.128686,0.729568,1.195461
std,7.640957,2.876339,1.134005,3.683244,0.374557,176.139286,0.037135,0.138092
min,60.000000,6.000000,1.000000,4.000000,0.000000,1106.000000,0.644000,0.876000
25%,71.000000,12.000000,2.000000,27.000000,0.000000,1357.000000,0.700000,1.099000
50%,77.000000,15.000000,2.000000,29.000000,0.000000,1470.000000,0.729000,1.194000
75%,82.000000,16.000000,3.000000,30.000000,0.500000,1597.000000,0.756000,1.293000
max,98.000000,23.000000,5.000000,30.000000,2.000000,2004.000000,0.837000,1.587000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Group   373 non-null    object
 1   M/F     373 non-null    object
 2   Age     373 non-null    int64
 3   EDUC    373 non-null    int64
 4   SES     354 non-null    float64
 5   MMSE    371 non-null    float64
 6   CDR     373 non-null    float64
 7   eTIV    373 non-null    int64
 8   nWBV    373 non-null    float64
 9   ASF     373 non-null    float64
dtypes: float64(5), int64(3), object(2)
memory usage: 29.3+ KB

In [9]:
data = data.apply(LabelEncoder().fit_transform)

In [10]:
data.head()

   Group  M/F  Age  EDUC  SES  MMSE  CDR  eTIV  nWBV  ASF
0      2    1   27     5    1    14    0   284    35    1
1      2    1   28     5    1    17    0   285    20    0
2      1    1   15     3    5    10    1   231    73   52
3      1    1   16     3    5    15    1   254    51   32
4      1    1   20     3    5     9    1   238    40   46

In [11]:
X = data.drop(['Group'], axis=1)
Y = data.Group

In [12]:
X

     M/F  Age  EDUC  SES  MMSE  CDR  eTIV  nWBV  ASF
0      1   27     5    1    14    0   284    35    1
1      1   28     5    1    17    0   285    20    0
2      1   15     3    5    10    1   231    73   52
3      1   16     3    5    15    1   254    51   32
4      1   20     3    5     9    1   238    40   46
..   ...  ...   ...  ...   ...  ...   ...   ...  ...
368    1   22     7    0    15    1   236    33   48
369    1   26     7    0    13    1   233    14   50
370    0    1     4    1    17    0    51   126  215
371    0    3     4    1    17    0    56   124  211
372    0    5     4    1    17    0    60   126  208

[373 rows x 9 columns]

In [13]:
Y

0      2
1      2
2      1
3      1
4      1
      ..
368    1
369    1
370    2
371    2
372    2
Name: Group, Length: 373, dtype: int64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2,random_state=2)

In [15]:
x_train

     M/F  Age  EDUC  SES  MMSE  CDR  eTIV  nWBV  ASF
225    0   10     2    3     9    2   125    60  144
100    1    8     7    0     1    2   247    21   39
270    0   22     9    0    16    0   123     0  147
108    0   34    11    0    16    0   146    35  128
344    1   12     7    3    15    1   262    69   23
..   ...  ...   ...  ...   ...  ...   ...   ...  ...
299    0   20     6    1     7    2   253    24   33
22     0   21     3    3    17    0    18    53  246
72     1   22     3    3    14    1   149    67  126
15     1    8     3    1    14    1   135   128  137
168    1   29     7    0    15    0   213    13   68

[298 rows x 9 columns]

In [16]:
x_test

     M/F  Age  EDUC  SES  MMSE  CDR  eTIV  nWBV  ASF
173    0   13     3    3     3    2   150    35  126
205    1    6     3    3    17    1   126   111  144
70     0   13     4    3    17    0    81   106  191
118    0   11     5    1    15    0   138    91  135
32     1   26     3    2    14    0   265    96   20
..   ...  ...   ...  ...   ...  ...   ...   ...  ...
303    0   20     4    1    15    0    64    97  205
3      1   16     3    5    15    1   254    51   32
272    0    7     3    1    12    0    58    96  209
163    0    6     9    1    17    0   171    63  109
292    0   29     9    1    17    0   248    82   38

[75 rows x 9 columns]

In [17]:
y_train

225    1
100    1
270    2
108    2
344    1
      ..
299    1
22     2
72     1
15     1
168    2
Name: Group, Length: 298, dtype: int64

In [18]:
y_test

173    1
205    1
70     2
118    2
32     2
      ..
303    2
3      1
272    0
163    2
292    2
Name: Group, Length: 75, dtype: int64

In [19]:
print('size x_train = ', x_train.shape)
print('size x_test = ', x_test.shape)
print('size y_train = ', y_train.shape)
print('size y_test = ', y_test.shape)

size x_train =  (298, 9)
size x_test =  (75, 9)
size y_train =  (298,)
size y_test =  (75,)

In [20]:
model = RandomForestClassifier()

In [21]:
model.fit(x_train, y_train)

RandomForestClassifier()

In [22]:
x_test.size

675

In [23]:
y_test.size

75

In [24]:
result = model.predict(x_test)

In [25]:
score = accuracy_score(result, y_test)

In [26]:
percentage_score = round(score*100,2)

In [27]:
print(f'Model accuracy is : {percentage_score}%')

Model accuracy is : 94.67%

In [1]:
import pickle
filename = "alzheimer_model.pkl"
pickle.dump(model,open(filename,"wb"))

NameError: name 'model' is not defined